@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@90;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+DK+Uloopet:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: "Saira Extra Condensed", sans-serif;
}

p {
	font-family: "Playwrite DK Uloopet", cursive;
}

body {
	margin: 0;
}
.profile .row {
	display: flex;
}

.contaier-fluid {
	margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .colamd-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding: 0;
}

.row { 
	width: 100%;
	margin: 0;
	justify-content: center;
}
.profile .row .col-xl-3 {
	background-color: #BD5D38;
	height: 100vh;
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: center;
	align-items: center;
	position:sticky;
	top: 0;
	left: 0;
	z-index: 0;
}

.profile .row .col-xl-3 .inner-image {
	margin-bottom: 20px;
}

.profile .row .col-xl-3 .inner-image img {
	width: 200px;
	height: auto;
	border-radius: 50%;
	border: 5px solid #E6E3F1;
}

.profile .row .col-xl-3 .inner-menu a {
	color: #EED6CD;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 30px;
}

.profile .row .col-xl-3 a li {
	padding: 5px 0;
}

.profile .row .col-xl-3 a:hover {
	color: #fff;
}

.profile .row .col-xl-9 {
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 40px;
	height: 100vh;
	width: 100%;
	top: 100px;
}

.profile .row .col-xl-3 a li {
	text-align: center;
}
.inner-content {
	width: 100%;
}
.profile .row .col-xl-9 .inner-contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile .row .col-xl-9 .about .inner-desc {
	text-align: center;
}
.about {
	width: 100%;
}

.profile .row .col-xl-9 {
	max-width: 100%;
	width: 100%;
}

.profile .row .col-md-9 {
	max-width: 100%;
	width: 100%;
} 

.col-lg-9, .inner-content{
	max-width: 100%;
	width: 100%;
}
.about-100 .about {
	display: flex;
	flex-direction: column;
	align-items: center;

}
.profile .row .col-xl-9 .name {
	margin-bottom: 25px;
}

.experience .inner-box {
	display:flex;
	justify-content: center;
}

.experience .inner-box span {
	font-size: 80px; font-weight: 700;
	color:#BD5D38;
}

.profile .row .col-xl-9 .name h2{
	display: inline;
	font-weight: 800;
	font-size: 70px;
	font-family: "Playwrite BE VLG", cursive;
}

.profile .row .col-xl-9 .name .lastname {
	color:#BD5D38;
	padding-left:6px;
}

.profile .row .col-xl-9 .inner-contact {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 1.5rem !important;
}
.profile .row .col-xl-9 .inner-contact a {
	color:#BD5D38;
	text-transform: uppercase;
}

.profile .row .col-xl-9 .inner-desc {
	font-size: 24px;
	width: 70%
}

.profile .row .col-xl-9 {
	padding: 0;
}

.profile .row .col-xl-9 .experience {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-height: 100%;
}

.profile .row .col-xl-9 .education{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile .row .col-xl-9 .skill{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile .row .col-xl-9 .interests{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.profile .row .col-xl-9 .awards{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inner-box {
	width: 90%;
}

.profile .row .col-xl-9 .name .lastname {
	padding: 0;
}

.interests p {
	width: 90%;
}

.profile .row .col-xl-9 .skill .inner-social {
	width: 90%;
}
.profile .row .col-xl-9 .inner-social {
	width: 100%;
	display: flex;
	justify-content: center;
}

.profile .row .col-xl-9 .inner-social a {
	padding: 0 9px;
	font-size: 60px;
	color: #6c757d;
}

.profile .row .col-xl-9 .inner-social a:hover {
	color:#BD5D38;
}

.profile .row .col-xl-3 .inner-menu a:focus{
	color: #fff;
}

.profile .row .col-xl-9 .experience .inner-title {
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
}

.profile .row .col-xl-9 .experience .inner-box .box {
	margin-top: 50px;
	position: relative;
}

.profile .row .col-xl-9 .experience .inner-box h2 {
	font-weight: 800;
}

.profile .row .col-xl-9 .experience .inner-box h3 {
	color:#6c757d;
}

.profile .row .col-xl-9 .experience .inner-box p {
	color:#6c757d;
}

.profile .row .col-xl-9 .experience .inner-box .box .inner-year {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 22px;
	color: #BD5D38;
}


.profile .row .col-xl-9 .education .inner-title {
	font-size: 50px;
	font-weight: 800;
	text-transform: uppercase;
}

.profile .row .col-xl-9 .education .inner-box .box {
	margin-top: 50px;
	position: relative;
}

.profile .row .col-xl-9 .education .inner-box h2 {
	font-weight: 800;
}

.profile .row .col-xl-9 .education .inner-box h3 {
	color:#6c757d;
}

.profile .row .col-xl-9 .education .inner-box .inner-span {
	font-size: 20px;
	color:#6c757d;
}

.profile .row .col-xl-9 .education .inner-box .box .inner-year {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 22px;
	color: #BD5D38;
}

.profile .row .col-xl-9 .skill .inner-title {
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
}

.profile .row .col-xl-9 .skill .inner-tool {
	margin: 50px 0;
}

.profile .row .col-xl-9 .skill .inner-tool span {
	font-size: 30px;
	color: #6c757d;
	font-weight: 600;
}

.profile .row .col-xl-9 .skill .dev-icons svg {
	height: 50px;
	margin: 9px 5px;
}

.profile .row .col-xl-9 .skill .inner-social {
	display: flex;
	flex-direction: column;
}

.profile .row .col-xl-9 .skill .inner-social .work {
	font-size: 30px;
	color:#6c757d;
	font-weight: 600;
}

.profile .row .col-xl-9 .skill .inner-social .inner-icon {
	font-size: 22px;
	color: #6c757d;
}

.profile .row .col-xl-9 .skill .inner-social .inner-icon i {
	margin-right: 5px;
}

.interests .inner-title {
	font-weight: 800;
	font-size: 60px;
	margin-bottom: 50px;
	text-transform: uppercase;
}

.interests p {
	font-size: 24px;
	color:#6c757d;
}

.awards .inner-title{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 60px;
	margin-bottom: 30px;
}

.awards .inner-box .box{
	color:#6c757d;
	font-size: 24px;
}

.awards .inner-box .box i {
	margin-right: 5px;
}

@media (max-width: 1200px) {
	.profile .row .col-lg-12 {
		padding: 0;
	}
	.profile .row .col-xl-3 {
		margin: 0;
		width: 100%;
		height: auto;
		position: fixed;
		z-index: 999;
		flex-direction: row;
		justify-content: space-around;
	}

	.profile .row .col-xl-3 {
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	}

	.profile .row .col-xl-3 .inner-image {
		margin: 20px 0;
	}
	.profile .row .col-xl-3 .inner-image img{
		width: 60px;
	}

	.profile .row .col-xl-3 .inner-menu {
		width: 70%;
	}

	.inner-content {
		width: 100%;
	}

	.profile .row .col-xl-3 .inner-menu ul {
		display: flex;
		justify-content: space-around;
		margin-bottom: 0;
	}

	.profile .row .col-xl-3 .inner-menu ul a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profile .row .col-xl-3 .inner-menu ul li {
		font-size: 24px;
		padding: 0;
	}
}

@media (max-width: 992px) {
	.col-md-12 {
		padding: 0 40px;
	}
	.profile .row .col-xl-3 .inner-menu {
		visibility: hidden;
	}

	.profile .row .col-xl-3 .inner-image {
		position: relative;
	}

	.profile .row .col-xl-3 .inner-image::after {
		content:"dinhviethuy";
		color: #fff;
		font-size: 30px;
		position:absolute;
		top: 10%;
		margin-left: 10px;
		font-weight: 600;
	}
}

@media (max-width: 576px) {
	.profile .row .col-xl-9 .name h2 {
		font-size: 60px;
	}

	.profile .row .col-xl-9 .inner-contact {
		font-size: 15px;
	} 

	.profile .row .col-xl-9 .experience .inner-title {
		font-size: 40px;
	}

	.profile .row .col-xl-9 .experience .inner-box h2 {
		font-size: 20px;
	}

	.profile .row .col-xl-9 .experience .inner-box h3 {
		font-size: 18px;
	}

	.profile .row .col-xl-9 .experience .inner-box p {
		font-size: 16px;
	}

	.profile .row .col-xl-9 .experience .inner-box .box .inner-year {
		font-size: 14px;
	}
	.interests .inner-title {
		font-size: 40px;
	}

	.interests p {
		font-size: 16px;
	}

	.awards .inner-title {
		font-size: 40px;
	}

	.awards .inner-box .box {
		font-size: 20px;
	}

	.profile .row .col-xl-9 .skill .inner-title {
		font-size: 40px;
	}
	.profile .row .col-xl-9 .skill .inner-tool span {
		font-size: 25px;
	}

	.profile .row .col-xl-9 .skill .inner-social .work {
		font-size: 25px;
	}

	.profile .row .col-xl-9 .skill .inner-social .inner-icon {
		font-size: 16px;
	}

	.profile .row .col-xl-9 .education .inner-title {
		font-size: 40px;
	}

	.profile .row .col-xl-9 .education .inner-box h2 {
		font-size: 22px;
		width: 70%;
	}

	.profile .row .col-xl-9 .education .inner-box .box .inner-year {
		font-size: 14px;
	}

	.profile .row .col-xl-9 .inner-desc {
		font-size: 18px;
	}

	.profile .row .col-xl-9 .inner-social a {
		font-size: 40px;
	}
	.profile .row .col-xl-9 .experience .inner-box p {
		margin: 0;
	}
	.profile .row .col-xl-9 .experience .inner-box .box {
		margin-top: 15px;
	}

	.profile .row .col-xl-9 .name  h2 {
		font-size: 35px;
	}
	.experience .inner-box span {
		font-size: 50px;
	}
}

@media (max-width: 400px) {
	.profile .row .col-xl-9 .experience .inner-title {
		font-size: 30px;
	}

	.profile .row .col-xl-9 .experience .inner-box p {
		font-size: 14px;
	}

	.profile .row .col-xl-9 .experience .inner-box h2 {
		font-size: 18px;
	}

	.profile .row .col-xl-9 .experience .inner-box h3 {
		font-size: 16px;
	}

	.profile .row .col-xl-9 .education .inner-title {
		font-size: 30px;
	}
	.profile .row .col-xl-9 .skill .inner-title {
		font-size: 30px;
	}

	.interests .inner-title {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.interests p {
		font-size: 14px;
	}

	.awards .inner-title {
		font-size: 30px;
	}

	.profile .row .col-xl-9 .skill .inner-tool span {
		font-size: 20px;
	}

	.profile .row .col-xl-9 .skill .inner-social .work {
		font-size: 20px;
	}

	.profile .row .col-xl-9 .skill .inner-social .inner-icon {
		font-size: 14px;
	}

	.profile .row .col-xl-9 .education .inner-box h2 {
		font-size: 18px;
	}

	.profile .row .col-xl-9 .education .inner-box .box .inner-year {
		font-size: 12px;
	}

	.profile .row .col-xl-9 .education .inner-box .inner-span {
		font-size: 15px;
	}

	.profile .row .col-xl-9 .experience .inner-box .box .inner-year {
		font-size: 12px;
	}
	.profile .row .col-xl-9 .inner-contact {
		text-align: center;
	}
}

